<a href="https://colab.research.google.com/github/TanushreeNayak/FDS_Programs/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = {"X":[78,85,96,80,86],"Y":[84,94,89,83,86],"Z":[86,97,96,72,83]}
print(pd.DataFrame(data))

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

In [ ]:
import pandas as pd
import numpy as np
exam_data ={"Name":["Anastasia","Dima","Katherine","James","Emily","Michale","Matthew","Laura","Kevin","Jonas"],
            "Score":[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
            "Attempts":[1,3,2,3,2,1,1,1,2,1],
            "Qualify":["Y","N","Y","N","N","Y","Y","N","N","Y"]}
labels = ['a','b','c','d','e','f','g','h','i','j']
df = pd.DataFrame(exam_data,index= labels)
print(df)

        Name  Score  Attempts Qualify
a  Anastasia   12.5         1       Y
b       Dima    9.0         3       N
c  Katherine   16.5         2       Y
d      James    NaN         3       N
e      Emily    9.0         2       N
f    Michale   20.0         1       Y
g    Matthew   14.5         1       Y
h      Laura    NaN         1       N
i      Kevin    8.0         2       N
j      Jonas   19.0         1       Y

In [ ]:
import pandas as pd
import numpy as np
exam_data ={"Name":["Anastasia","Dima","Katherine","James","Emily","Michale","Matthew","Laura","Kevin","Jonas"],
            "Score":[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
            "Attempts":[1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            "Qualify":["Y","N","Y","N","N","Y","Y","N","N","Y"]}
lables = ['a','b','c','d','e','f','g','h','i','j']
df= (pd.DataFrame(exam_data,index= lables))
print(df.head(3))

        Name  Score  Attempts Qualify
a  Anastasia   12.5         1       Y
b       Dima    9.0         3       N
c  Katherine   16.5         2       Y

In [ ]:
import pandas as pd
import numpy as np
exam_data ={"Name":["Anastasia","Dima","Katherine","James","Emily","Michale","Matthew","Laura","Kevin","Jonas"],
            "Score":[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
            "Attempts":[1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            "Qualify":["Y","N","Y","N","N","Y","Y","N","N","Y"]}
lables = ['a','b','c','d','e','f','g','h','i','j']
df= (pd.DataFrame(exam_data,index= lables))
print(df[['Name','Score']])

        Name  Score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michale   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [ ]:

import pandas as pd
import numpy as np
exam_data ={"Name":["Anastasia","Dima","Katherine","James","Emily","Michale"],
            "Score":[12.5,9,16.5,np.nan,9,20],
            "Attempts":[1, 3, 2, 3, 2, 3],
            "Qualify":["Y","N","Y","N","N","Y"]}
lables = ['a','b','c','d','e','f']
df = (pd.DataFrame(exam_data,index= lables))
print(df[(df['Attempts'] > 2)])

      Name  Score  Attempts Qualify
b     Dima    9.0         3       N
d    James    NaN         3       N
f  Michale   20.0         3       Y

In [ ]:
import pandas as pd
import numpy as np
exam_data ={"Name":["Anastasia","Dima","Katherine","James","Emily","Michale"],
            "Score":[12.5,9,16.5,np.nan,9,20],
            "Attempts":[1, 3, 2, 3, 2, 3],
            "Qualify":["Y","N","Y","N","N","Y"]}
lables = ['a','b','c','d','e','f']
df = (pd.DataFrame(exam_data,index= lables))
print("Rows where score is missing:")
print(df[df['Score'].isnull()])

Rows where score is missing:
    Name  Score  Attempts Qualify
d  James    NaN         3       N

In [ ]:
mean_score = df['Score'].mean(skipna = True)

print("Mean score for each different student in data frame:", mean_score)

Mean score for each different student in data frame: 13.4

In [ ]:
import pandas as pd

student_data1 = pd.DataFrame({'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
                               'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
                               'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
                              'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
                              'marks': [201, 200, 198, 219, 201]})

print("Original DataFrames:")
print(student_data1)

print("_______________________________________")

print(student_data2)
print("\nJoin the said two dataframes along rows:")

result_data = pd.concat([student_data1, student_data2])

print(result_data)

Original DataFrames:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
_______________________________________
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

Join the said two dataframes along rows:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

In [ ]:
import pandas as pd

student_data1 = pd.DataFrame({'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
                               'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
                               'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
                              'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
                              'marks': [201, 200, 198, 219, 201]})

print("Original DataFrames:")
print(student_data1)

print("_______________________________________")

print(student_data2)
print("\nJoin the said two dataframes along rows:")

result_data = pd.concat([student_data1, student_data2], axis = 1)

print(result_data)

Original DataFrames:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
_______________________________________
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

Join the said two dataframes along rows:
  student_id              name  marks student_id              name  marks
0         S1  Danniella Fenton    200         S4  Scarlette Fisher    201
1         S2      Ryder Storey    210         S5  Carla Williamson    200
2         S3      Bryce Jensen    190         S6       Dante Morse    198
3         S4         Ed Bernal    222         S7    Kaiser William    219
4         S5       Kwame Morin    199         S8   Madeeha Preston    201

In [ ]:
import pandas as pd
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
        'marks': [200, 210, 190, 222, 199]})

s6 = pd.Series(['S6', 'Scarlette Fisher', 205], index=['student_id', 'name', 'marks'])

print("Original DataFrames:")
print(student_data1)
print("\nNew Row(s)")
print(s6)

combined_data = student_data1.append(s6, ignore_index = True)
print("\nCombined Data:")
print(combined_data)

Original DataFrames:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199

New Row(s)
student_id                  S6
name          Scarlette Fisher
marks                      205
dtype: object

Combined Data:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S6  Scarlette Fisher    205

<ipython-input-69-26fb9ef7118f>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = student_data1.append(s6, ignore_index = True)

In [ ]:
import pandas as pd
World_alcohol_consumption = pd.DataFrame({'Year': [1986,1986,1985,1986,1987],
                                          'Who region': ['Wastern Pacific', 'Americas', 'Africa', 'Americas', 'Americas'],
                                          'Country': [200, 210, 190, 222, 199]})

In [ ]:
import pandas as pd
# World alcohol consumption data
w_a_con = pd.read_csv('world_alcohol.csv')
print("World alcohol consumption sample data:")
print(w_a_con.head())
print('\nShape of the dataframe: ',w_a_con.shape)
print('\nNumber of rows: ',w_a_con.shape[0])
print('\nNumber of column: ',w_a_con.shape[1])
print("\nExtract Column Names:")
print(w_a_con.columns)

FileNotFoundError: [Errno 2] No such file or directory: 'world_alcohol.csv'